
@model RegalEdu.Application.Common.Request.UserModelRequest
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Create new teacher</title>
</head>
<body>
    <p>Hello @Model.FullName,</p>

    <p>Your account has been successfully created.</p>

    <p>Your password is:</p>

    <p style="font-size: 18px; font-weight: bold; color: #2e6da4;">@Model.Password</p>

    <p>Please log in and change your password immediately after logging in.</p>

    <p>Best regards,<br />RegalEdu Team</p>
</body>
</html>