
@model RegalEdu.Application.Common.Request.UserModelRequest
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tạo nhân viên mới</title>
</head>
<body>
    <p>Xin chào @Model.FullName,</p>

    <p>Tài khoản của bạn đã được tạo thành công.</p>

    <p>Mật khẩu  của bạn là:</p>

    <p style="font-size: 18px; font-weight: bold; color: #2e6da4;">@Model.Password</p>

    <p>Vui lòng đăng nhập và thay đổi mật khẩu ngay sau khi đăng nhập.</p>

    <p>Trân trọng,<br />Đội ngũ RegalEdu</p>
</body>
</html>